* {
    margin: 0;
    padding: 0;
}

.App {
    background: radial-gradient(37.2% 50% at 50% 50%, #ECECEC 0%, #C4C4C4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}